.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
}



/* Logo CSS settings start */
.logo-box {
  margin-left: 5rem;
  transition: all .3s;
}

.logo-box:hover {
  letter-spacing: 4px;
}

.title span {
  display: block;
  text-transform: uppercase;
}

.title span:first-of-type {
  font-size: 5rem;
}

.title span:nth-of-type(2) {
  font-size: 2.5rem;
  text-align: right;
}

/* Logo CSS settings end */