.menu-container {
  width: 15%;
  margin-top: 3rem;
}

ul.categories {
  list-style-type: none;
  text-align: right;
}

.categories li {
  margin-bottom: 2.5rem;
}

.categories li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}

.categories li:nth-of-type(7) a {
  font-weight: 400;
  font-size: 1.5rem;
}

ul.submenu {
  list-style-type: none;
  transition: all .3s;
}

ul.submenu li {
  text-transform: uppercase;
  margin-bottom: 1rem;
  transition: all .3s;
}

ul.submenu li:nth-of-type(1) {
  margin-top: 1.5rem;
}